<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>366563029557-keo5f8ealdl1r611knjg7r44hjtn68ls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366563029557-keo5f8ealdl1r611knjg7r44hjtn68ls</string>
	<key>API_KEY</key>
	<string>AIzaSyBfeFgMra-0N6lqoRfNSHNBrrWKTQ14hEc</string>
	<key>GCM_SENDER_ID</key>
	<string>366563029557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sukoyakadaruma.liferecord.develop</string>
	<key>PROJECT_ID</key>
	<string>sukoyakadaruma</string>
	<key>STORAGE_BUCKET</key>
	<string>sukoyakadaruma.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366563029557:ios:c3a0b83b82ab168a</string>
	<key>DATABASE_URL</key>
	<string>https://sukoyakadaruma.firebaseio.com</string>
</dict>
</plist>